{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container pt-4">
  <div class="row">
    <div class="col">
      <img src="https://uploads-ssl.webflow.com/62fc7544b2fc768dd0d052e6/62fc7c0bd02ef3d093c765d0_dark_ihorizon.svg" />
    </div>

    <div class="col-md-auto">
      <button type="button" class="btn btn-outline-primary" onclick="location.href='{% url 'myrequests' %}'">My requests
        ({{ user_request_count }})</button>
    </div>
    <div class="col-md-auto float-right">
      <button type="button" class="btn btn-primary" onclick="location.href='{% url 'request' %}'">+ New request</button>
    </div>
  </div>
</div>
</div>

{% if not user.is_authenticated %}
<div class="row justify-content-center mt-4">
  <div class="card float-middle" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Please login!!</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Please login to a customer account to create requests
      </h6>

      <a href="/auth/register" class="card-link">Register</a>
      <a href="/auth/login" class="card-link">Login</a>
    </div>
  </div>
</div>
</div>

{% elif user.is_staff %}
<div class="row justify-content-center mt-4">
  <div class="card float-middle" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">You have a staff account!!</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Please login to a customer account to create requests
      </h6>

      <a href="/auth/register" class="card-link">Register</a>
      <a href="/auth/login" class="card-link">Login</a>
    </div>
  </div>
</div>

{% elif user.is_superuser %}
<div class="row justify-content-center mt-4">
  <div class="card float-middle" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">You have a Admin account!!</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Please login to a customer account to create requests
      </h6>

      <a href="/auth/register" class="card-link">Register</a>
      <a href="/auth/login" class="card-link">Login</a>
    </div>
  </div>
</div>

{% else %}
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="POST">
        {% csrf_token %}

        <div class="card bg-light mb-3 rounded-0">
          <div class="card-body">
            <h5 class="card-title">Request Information</h5>
            <p class="card-text">{{form.summary|as_crispy_field}}</p>
            <p class="card-text">{{form.description|as_crispy_field}}</p>
            <p>
            <div class="custom-control custom-switch ">
              <input type="checkbox" class="custom-control-input" id="customSwitch1"  >
              <label class="custom-control-label" for="customSwitch1">Priority flag</label>
            </div>
            {{form.priority_flag.as_hidden}} 
            </p>
            {{form.user.as_hidden}}
            <button type="submit" class="btn btn-block btn-primary" id = "addRequest">
              Create support request
            </button>
            <script>
              document.getElementById('addRequest').addEventListener("click", ()=>{
                checkbox=document.getElementById('customSwitch1'); 
                console.log(checkbox.checked); 
                document.getElementById("id_priority_flag").value = checkbox.checked ;
                var name = {{ user.id }};
                document.getElementById("id_user").value = name;
              })
            </script>
          </div>
        </div>
      </form>
    </div>

  </div>
  {% endif %} {% endblock %}